@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #515151;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.conteiner{
background-color: #cdcdcd82;
padding: 20px;
border-radius: 20px;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgb(101, 101, 101);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  border-color: black;
  border-width: 1px;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(138, 138, 138, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #f370d7 0%, #229efd62 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209bffb0 0%, #68e0d0b7 100%);
}

.done {
  background: linear-gradient(90deg, #84faaf7e 0%, #8fd3f4 100%);
}


.hide{
  display: none;
  transition: opacity 0.5s ease-in;
}

.hold{
 background-color: #ffffff;
 border-style: dotted;
 border-color: black;
 border-width: 2px;
}

.hovered{
  background-color: #00ff8439;
  border-radius: 20px;
  border: 1px solid #eee;
  
}